In [1]:
!pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import pandas as pd

In [4]:
#QUESTION 1
data=[4,8,15,16,23,42]
df=pd.Series(data)
df

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [5]:
#QUESTION 2

data1=[1,2,4,5,7,2,0,34,12,10]
df1=pd.Series(data1)
df1

0     1
1     2
2     4
3     5
4     7
5     2
6     0
7    34
8    12
9    10
dtype: int64

In [6]:
#QUESTION 3

data={'Name':['Alice',"Bob",'Claire'],
      'Age':[25, 30, 27],
      'Gender': ['Female', 'Male', 'Female'],
}
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

#QUESTION 4

In Pandas, a DataFrame is a two-dimensional tabular data structure that represents data in a rows-and-columns format, similar to a spreadsheet or SQL table. It is the most commonly used data structure in Pandas and can hold heterogeneous data types. Each column in a DataFrame is a Pandas Series, and all the Series in a DataFrame share the same index, which allows for easy and efficient data manipulation.

On the other hand, a Pandas Series is a one-dimensional labeled array that can hold data of any type (e.g., integers, strings, floats). It is similar to a NumPy array but has additional functionalities and is designed to work seamlessly with Pandas.

In [9]:
#Example

import pandas as pd

# Creating a Pandas Series
data = [10, 20, 30, 40, 50]
my_series = pd.Series(data)
my_series

0    10
1    20
2    30
3    40
4    50
dtype: int64

#QUESTION 5

Pandas provides a wide range of functions to manipulate data in a DataFrame efficiently. Here are some common functions you can use:

1. **Filtering and Selection**: You can use functions like `loc`, `iloc`, and boolean indexing to filter and select specific rows or columns from a DataFrame based on certain conditions.

Example - Using `loc` to select rows based on a condition:

```python
import pandas as pd

# Create a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df = pd.DataFrame(data)

# Select rows where Age is greater than 25
filtered_df = df.loc[df['Age'] > 25]

print(filtered_df)
```

2. **Aggregation**: Functions like `mean`, `sum`, `count`, etc., can be used to calculate summary statistics over rows or columns.

Example - Using `mean` to calculate the average age:

```python
average_age = df['Age'].mean()
print(average_age)
```

3. **Sorting**: You can sort the DataFrame based on specific columns using `sort_values`.

Example - Sorting the DataFrame based on Age in descending order:

```python
sorted_df = df.sort_values(by='Age', ascending=False)
print(sorted_df)
```

4. **Grouping and Aggregating**: Functions like `groupby` and `agg` allow you to group data based on certain columns and perform aggregations on the grouped data.

Example - Grouping by Gender and calculating the average age for each group:

```python
grouped_df = df.groupby('Gender').agg({'Age': 'mean'})
print(grouped_df)
```

5. **Merging and Joining**: Functions like `merge` and `join` allow you to combine multiple DataFrames based on common columns.

Example - Merging two DataFrames based on a common column "ID":

```python
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Value': [10, 20, 30]})
df2 = pd.DataFrame({'ID': [3, 4, 5], 'Value': [40, 50, 60]})

merged_df = pd.merge(df1, df2, on='ID', how='outer')
print(merged_df)
```

6. **Dropping and Adding Columns**: You can use `drop` to remove unwanted columns and `assign` to add new columns.

Example - Dropping the "Gender" column:

```python
df_dropped = df.drop(columns='Gender')
print(df_dropped)
```

7. **Handling Missing Data**: Functions like `isnull`, `dropna`, and `fillna` help with dealing with missing values.

Example - Filling missing values with the mean of the column:

```python
df_filled = df.fillna(df.mean())
print(df_filled)
```

These are just a few examples of the many functions available in Pandas for data manipulation. Pandas is a powerful library with a wide range of functionalities to handle and process data effectively in DataFrames.

#QUESTION 6

In Pandas, both Series and DataFrame are mutable in nature, while Panel is not.

Series: A Pandas Series is a one-dimensional labeled array that can hold data of any type. Once created, you can modify the values, index, and other properties of a Series.

In [11]:
import pandas as pd

# Create a Series
data = [10, 20, 30, 40, 50]
my_series = pd.Series(data)

# Modify the values in the Series
my_series[2] = 35
print(my_series)

0    10
1    20
2    35
3    40
4    50
dtype: int64

DataFrame: A Pandas DataFrame is a two-dimensional tabular data structure with rows and columns. Like Series, DataFrames are mutable, and you can modify its values, add or remove columns, and perform various data manipulation operations.

In [12]:
import pandas as pd

# Create a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df = pd.DataFrame(data)

# Modify a value in the DataFrame
df.at[1, 'Age'] = 32
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   32    Male
2  Claire   27  Female